body {
  background: #141414;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  margin-bottom: 4rem;
}

.film-img {
  width: 70px;
  height: auto;
}

@media all and (max-width: 1000px) {
  .header-text {
    display: none;
  }
}
